In [4]:
import re
import numpy as np
import pandas as pd

In [5]:
test_df = pd.read_csv('./data/test.csv', encoding='ISO-8859-1', usecols=['text', 'sentiment'], )
test_df.head()

                                                text sentiment
0  Last session of the day  http://twitpic.com/67ezh   neutral
1   Shanghai is also really exciting (precisely -...  positive
2  Recession hit Veronique Branquinho, she has to...  negative
3                                        happy bday!  positive
4             http://twitpic.com/4w75p - I like it!!  positive

In [6]:
train_df = pd.read_csv('./data/train.csv', encoding='ISO-8859-1', usecols=['text', 'sentiment'], )
train_df.head()

                                                text sentiment
0                I`d have responded, if I were going   neutral
1      Sooo SAD I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! leave me alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative

In [7]:
test_df.isna().sum()

text         1281
sentiment    1281
dtype: int64

In [8]:
test_df = test_df.dropna(subset=['sentiment'])

In [9]:
train_df.isna().sum()

text         1
sentiment    0
dtype: int64

In [10]:
train_df = train_df.dropna(subset=['sentiment'])
test_df = test_df.dropna(subset=['sentiment'])

In [11]:
train_df['sentiment'].value_counts()

sentiment
neutral     11118
positive     8582
negative     7781
Name: count, dtype: int64

In [12]:
test_df['sentiment'].value_counts()

sentiment
neutral     1430
positive    1103
negative    1001
Name: count, dtype: int64

In [13]:
def replace_label(value):
    if value=='neutral':
        return 0
    elif value == 'positive':
        return 1
    elif value  == 'negative':
        return 2
    else:
        return np.nan
    
test_df['sentiment'] = test_df['sentiment'].apply(replace_label)
train_df['sentiment'] = train_df['sentiment'].apply(replace_label)

In [16]:
test_df.to_csv('data/processed_test.csv', index=False)
train_df.to_csv('data/processed_train.csv', index=False)